* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  padding-top: 0%;
  /* background-color: aqua; */
}
#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: -10%;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
.loginDivClass {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: beige;
  top: 10vh;
  height: 40vh;
  width: 40vw;
}
.formClass {
  top: 13vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  left: 5vw;
  right: 2vw;
  gap: 3vh;
}
#loginButtonId {
  position: relative;
  background-color: coral;
  height: 4vh;
  width: 8vw;
  left: 12vw;
}
#signupButtonId {
  position: relative;
  background-color: coral;
  height: 4vh;
  width: 8vw;
  left: 12vw;
}
.signupDivClass {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: beige;
  top: 10vh;
  height: 40vh;
  width: 40vw;
}
.signupForm {
  top: 2vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  left: 5vw;
  right: 2vw;
  gap: 3vh;
}
#newSignupButtonId {
  position: relative;
  background-color: coral;
  height: 4vh;
  width: 8vw;
  left: 12vw;
}
#contentSectionDivId {
  position: relative;
  top: 20vh;
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#addProjectButtonId {
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
  position: relative;
  top: 10vh;
  height: 15vh;
  left: 5vw;
  width: 30vw;
  font-size: 4vw;
  font-style: italic;
  text-decoration: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#viewProjectButtonId {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  position: relative;
  top: 20vh;
  height: 15vh;
  left: 5vw;
  font-size: 4vw;
  width: 30vw;
  font-style: italic;
  text-decoration: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#addNewProjectDivId {
  position: relative;
  display: flex;
  height: 80vh;
  width: 80vw;
  top: 6vh;
  top: 10vh;
  gap: 2vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(100deg, #bcdeee, #d24545);
  border-bottom: 2vh;
}

#addNewProjectHeadingID {
  position: relative;
  top: 2vh;
  left: 25vw;
  font-style: italic;
  font-size: 4vw;
  text-decoration: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#newProjectNameID {
  position: relative;
  top: 4vh;
  height: 10vh;
  width: 50vw;
  left: 15vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#newProjectDescriptionId {
  position: relative;
  top: 4vh;
  height: 10vh;
  width: 50vw;
  left: 15vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#newProjectDeadlineId {
  position: relative;
  top: 4vh;
  height: 10vh;
  width: 50vw;
  left: 15vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#checkListDivId {
  position: relative;
  display: flex;
  top: 5vh;
  left: 7vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
  height: 20vh;
  width: 65vw;
  bottom: 2vh;
}
#newTaskId {
  position: relative;
  top: 2vh;
  height: 10vh;
  left: 4vw;
  width: 40vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#addTaskButtonId {
  position: absolute;
  top: 2vh;
  height: 10vh;
  left: 50vw;
  width: 10vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#unOrderListId {
  position: absolute;
  top: 20vh;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
.todoListClass {
  min-width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  /* height: 50vh; */
  width: 50vw;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
  /* To remove the bullets of unordered list */
  /* list-style: none; */
}
.listTaskClass {
  position: relative;
  display: flex;
  gap: 2vh;
  top: 2vh;
  left: 5vw;
  font-size: 4vw;
  font-style: italic;
  text-decoration: thistle;
  max-width: 20vw;
}
.deleteTaskButtonId {
  position: relative;
  font-size: 2vw;
  font-style: italic;
  height: 4vh;
  width: 4vw;
  top: 2vh;
  text-decoration: thistle;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#checkedTaskButtonId {
  position: relative;
  font-size: 2vw;
  font-style: italic;
  height: 4vh;
  width: 4vw;
  top: 2vh;
  text-decoration: thistle;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#closeButton1ID {
  position: fixed;
  right: 12vw;
  top: 12vh;
  height: 4vh;
  width: 3vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#submitButton1ID {
  position: fixed;
  right: 12vw;
  bottom: 12vh;
  height: 4vh;
  width: 6vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#projectListDivId {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: flex;
  top: 20vh;
  /* height: 40vh; */
  width: 50vw;
  gap: 5vh;
  background-image: linear-gradient(100deg, #c7a1a1, #a4b334);
  flex-direction: column;
}
.listDivClass {
  position: relative;
  font-size: 2vw;
  height: 10vh;
  top: 2vh;
  width: 50vw;
  left: 5vw;
  text-align: center;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
.deleteProjectButtonClass {
  position: relative;
  font-size: 2vw;
  font-style: italic;
  height: 4vh;
  width: 4vw;
  top: 2vh;
  left: 15vw;
  text-decoration: thistle;
  background-image: linear-gradient(100deg, #c7a1a1, #cd501f);
}
#closeButton2 {
  position: fixed;
  right: 26vw;
  top: 21vh;
  height: 4vh;
  width: 3vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#projectDetailsDivId {
  position: relative;
  display: flex;
  height: 80vh;
  width: 80vw;
  top: 6vh;
  top: 10vh;
  gap: 2vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(100deg, #bcdeee, #d24545);
  border-bottom: 2vh;
}
#projectNameDivId {
  position: relative;
  top: 2vh;
  height: 10vh;
  width: 40vw;
  text-align: center;
  left: 20vw;
  font-size: 4vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #5d8a9d);
}
#projectDescriptionDivId {
  position: relative;
  top: 2vh;
  height: 10vh;
  width: 40vw;
  text-align: center;
  left: 20vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #5d8a9d);
}
#projectDeadlineDivId {
  position: relative;
  top: 2vh;
  height: 10vh;
  width: 40vw;
  text-align: center;
  left: 20vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #5d8a9d);
}
#checkListDivId1 {
  position: relative;
  display: flex;
  top: 5vh;
  left: 7vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
  height: 15vh;
  width: 65vw;
  bottom: 2vh;
}
#addNewTaskId {
  position: relative;
  top: 2vh;
  height: 10vh;
  left: 4vw;
  width: 40vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#addNewTaskButtonId {
  position: absolute;
  top: 2vh;
  height: 10vh;
  left: 50vw;
  width: 10vw;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vw;
  background-image: linear-gradient(100deg, #c7a1a1, #062e3f);
}
#listDivId {
  position: absolute;
  display: flex;
  top: 15vh;
  left: 2.5vw;
  /* height: 40vh; */
  width: 60vw;
  gap: 5vh;
  background-image: linear-gradient(100deg, #c7a1a1, #30a0d0);
  flex-direction: column;
}
.taskClass {
  position: relative;
  font-size: 2vw;
  height: 10vh;
  top: 2vh;
  width: 50vw;
  left: 15vw;
  /* text-align: center; */
  font-style: italic;
  /* background-image: linear-gradient(100deg, #c7a1a1, #21ade9); */
}
.deleteTaskButtonClass {
  position: relative;
  font-size: 2vw;
  font-style: italic;
  height: 4vh;
  width: 4vw;
  top: 1vh;
  left: 20vw;
  text-decoration: thistle;
  background-image: linear-gradient(100deg, #c7a1a1, #c62d22);
}
#closeButtonId3 {
  position: fixed;
  right: 12vw;
  top: 12vh;
  height: 4vh;
  width: 3vw;
  font-size: 2vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
#saveChangesButtonID {
  position: fixed;
  right: 12vw;
  bottom: 12vh;
  height: 4vh;
  width: 6vw;
  font-size: 1vw;
  font-style: italic;
  background-image: linear-gradient(100deg, #c7a1a1, #21ade9);
}
.listDiv1ID {
  gap: 2vw;
  width: 30vw;
  position: relative;
  display: flex;
  flex-direction: row;
}
